
.bubble {
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
    height: 213px;
	position: absolute;
	width: 213px;
    z-index: +5;
}




.x1 {
	left: -6.5%;
	top: 2%;

    background: linear-gradient(180deg, #6187FD 0%, rgba(97, 135, 253, 0) 100%);	
}

.x2 {
    
	
	left: 45%;
	top: 6%;
	

    background: linear-gradient(161.83deg, rgba(75, 160, 253, 0.8) 18.5%, rgba(75, 160, 253, 0) 87.64%);
	-webkit-transform: scale(0.7417);
	-moz-transform: scale(0.7417);
	transform: scale(0.7417);
}

.x3 {
    background: linear-gradient(216.68deg, #6187FD 15.75%, rgba(97, 135, 253, 0) 75.57%);
	
	left: 87%;
	top: 7%;
	
}

.x4 {
	background: linear-gradient(360deg, #7B6BFF 3.52%, rgba(123, 107, 255, 0) 64.55%);	
	left: 70%;
	top: 40%;
	
	
}