.feature{
    max-width: 387px;
    height: 234px;
    padding: 2rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(183, 183, 183, 0.25);
    border-radius: 10px;
    position: relative;
    @include flex-jst_dC-al_dC();

        &__content{
                h1{
                    margin-top: 4rem;
                    font-family: $font_family;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 38px;
                    line-height: 120%;
                    color: #0B7ACD;
                }
                p{
                    margin-top: 0.5rem;
                    font-family: $font_family;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 130%;
                    color: #212121;
                }
        }

        &__icon{
            position: absolute;
            top: 15%;
            right: 8%;

        }
}