.feedbacks{
    @include flex-jst_dC-al_dC();
    flex-direction: column;
    position: relative;
    background-image: url('../assets/wavesFeedbacks.svg');
    background-size: cover;
    height: 850px;
    padding-bottom: 10rem;
    background-repeat: no-repeat;

    h2{
        font-family: $font_family;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 120%;
        text-align: center;
        color: #212121;
        margin-bottom: 6rem;
        margin-top: 7rem;
    }


        .leftArrow{
            position: absolute;
            top: 50%;
            left: 2em;
        }
        .rightArrow{
            position: absolute;
            top: 50%;
            right: 2em;
        }
        
            &__content{
                @include flex-jst_dC-al_dC($jst:flex-start,$al:flex-start);
                flex-direction: row;
            
            }
               
            
}

.feedback{
    @include flex-jst_dC-al_dC($al:flex-start);
    flex-direction: row;
   
    
    

        &__userImg{
            margin-right: 1rem;
            span{
                height: 4rem;
                width: 4rem;
                background-color: #000;
                border-radius: 50%;
                display: inline-block;
            }
            img{
                height: 4rem;
                width: 4rem;
                border-radius: 50%;
                display: inline-block; 
            }
        }

        &__content{
                @include flex-jst_dC-al_dC($jst:flex-start,$al:flex-start);
                text-align: left;
                flex-direction: column;

                    &-icons{
                        @include flex-jst_dC-al_dC($jst:space-between);
                        width: 100%;

                            span:first-child{
                                font-family: $font_family;
                                font-style: normal;
                                font-weight: bold;
                                font-size: 100px;
                                line-height: 100%;
                                color: #0B7ACD;
                            }

                            

                    }

                    p{
                        font-family: $font_family;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 130%;
                        color: #212121;
                        margin-bottom: 1rem;
                    }

                    &-signature{
                        h3{
                            font-family: $font_family;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 24px;
                            line-height: 130%;
                            color: #212121;
                            margin-bottom: 0.1rem;
                        }


                        span{
                            font-family: $font_family;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 18px;
                            line-height: 130%;
                            color: #919191;
                        }
                    }

        }
}

.feedback__active{
    width: 50%;
    padding-right: 2rem;


}


//media queries
@media screen and (max-width: 1000px){
    .feedbacks{
        
        overflow: scroll;
        max-height:750px ;
    }
}