.footer{
    @include flex-jst_dC-al_dC();
    flex-direction: column;
    background: #F9F9F9;
    margin-top: 5rem;
        &__socialMedia{
            width: 100%;
            @include flex-jst_dC-al_dC($jst:flex-end);
            flex-direction: row;
            padding: 0.2rem;
            padding-right: 2rem;

            small{
                font-family: $font_family;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 130%;
                color: #212121;
                margin-right: 1rem;
            }
            span{
                margin-left: 0.3rem;
                cursor: pointer;
            }
        }


        &__content{
            border-bottom: 0.6px solid #919191;;
            border-top: 0.6px solid #919191;;
            width: 100%;
            padding-top: 2rem;
            padding-bottom: 3rem;
            @include flex-jst_dC-al_dC($jst:flex-start,$al:flex-start);
            flex-direction: row;

            &-brand{
                @include flex-jst_dC-al_dC($jst:flex-start,$al:flex-start);
                flex-direction: column;
                margin-right: 15rem;
                img{
                    width: 129px;
                    margin-bottom: 2rem;
                    cursor: pointer;
                }
                &-contacts{
                    @include flex-jst_dC-al_dC($jst:flex-start,$al:flex-start);
                    flex-direction: column;

                    span{
                        font-family: $font_family;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 130%;

                        /* or 18px */

                        /* Grey text */
                        color: #919191;
                    }
                    span:last-child{
                        margin-top: 2rem;

                    }
                }
            }

            &-mainLinks{
                @extend .footer__links-coloum;
                h3{
                    @extend .footer__links-h3;
                }
            }
            &-ourproducts{
                @extend .footer__links-coloum;
                h3{
                    
                    @extend .footer__links-h3;
                }
                span{
                    @extend .footer__links-span;
                }
            }

            &-moreConditions{
                @extend .footer__links-coloum;
                h3{
                    
                    @extend .footer__links-h3;
                }
                span{
                    @extend .footer__links-span;
                }
            }

            &-aboutUs{
                @extend .footer__links-coloum;
                h3{
                    
                    @extend .footer__links-h3;
                }
                span{
                    @extend .footer__links-span;
                }
            }
        }

        &__copyright{
            @include flex-jst_dC-al_dC($jst:space-between,$al:space-between);
                flex-direction: row;
                width: 100%;
                
                padding-top: 1rem;
                padding-bottom: 1rem;
                small{
                    font-family: $font_family;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 130%;
                    color: #919191;
                }

                &-tags{
                    small{
                        font-family: $font_family;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 130%;
                        color: #919191;
                        margin-left: 1.5rem;
                    }
                }

        }
}

//extended classes

.footer__links-h3{
    font-family: $font_family;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 130%;

    /* identical to box height, or 22px */

    /* Text color */
    color: #212121;
    margin-bottom: 1rem;
    cursor: pointer;
}

.footer__links-span{
    font-family: $font_family;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 130%;

                    /* identical to box height, or 22px */

                    /* Text color */
                    color: #212121;
                    margin-bottom: 0.5rem;
                    cursor: pointer;
}

.footer__links-coloum{
    @include flex-jst_dC-al_dC($jst:flex-start,$al:flex-start);
    flex-direction: column;
    margin-right: 4rem;
}