.navbar{
    @include flex-jst_dC-al_dC($jst:space-between);
        &__links{
            flex: 1;
            @include flex-jst_dC-al_dC($jst:flex-start);
                &-logo{
                    margin-right:6rem ;
                        img {
                            width: 104px;
                            height: 31px;
                        }
                }

                &-container{
                    display: flex;
                    flex-direction: row;
                        p{
                            @extend .navbar__links-p;
                        }
                }
        }

        &__sign{
           @include flex-jst_dC-al_dC($jst:flex-end);
                p{
                    @extend .navbar__links-p;
                }
                button{
                    @extend .navbar__sign-button;   
                }
        }

        &__menu{
            margin-left: 1rem;
            display: none;
                svg{
                    cursor: pointer;
                }
                
                &-container{
                    @include flex-jst_dC-al_dC($jst:flex-end);
                    flex-direction: column;
                    text-align: center;
                    position:absolute;
                    background-color: #fff;
                    z-index: +10;
                    width: 100%;
                    left: 0;
                    top: 4.1rem;
                    
                    padding: 2rem;
                    
                    
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
                        button{
                            @extend .navbar__sign-button;   
                        }
                        &-links{
                            p{
                                @extend .navbar__links-p;
                                margin:1.5rem 0 !important;
                            }
            
                            &-sign{
                                display: none;
                            }
                        }  
                }
        }
}


.Link__badge{
    @include flex-jst_dC-al_dC();
    position: absolute;
    background: #69B353;
    border-radius: 100px;
    font-family: $font_family;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    width: 50px;
    height: 20px;
    padding:5px 10px;
    right:-12px;
    top:-18px;
}

.Link__active{
    font-weight: 600 !important;
    border-bottom: 2px solid #0B7ACD !important;
    padding-bottom: 0.2rem;
}
//extended classes
.navbar__links-p{
    position: relative;
    color: #212121;
    font-family: $font_family;
    font-size: 15px;
    line-height: 130%;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}

.navbar__sign-button{
    background: $gradient-btn;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    color:#fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: 0;
    outline: none;
    cursor: pointer;
}

//media queries
@media screen and (max-width: 1295px){
    .navbar{
            &__links{    
                    &-logo{
                        margin-right:0.2rem !important;
                    }
                
                    .navbar__menu{
                        display: flex;
                    }
            }
    }
}

@media screen and (max-width: 1200px){
    .navbar{
        &__links{    
                &-container{
                    display: none;
                }
        }
        &__menu{
            display: flex;
        }
    }  
}

@media screen and (max-width: 600px){
    .navbar{
        &__sign{
            display: none;
        }

        &__menu-container{
            &-links-sign{
                display: block;
                width: 100%;
                @include flex-jst_dC-al_dC($jst:flex-end);
            }
        }
    }  
}